nav {
    padding: 32px;
    display: flex;
    justify-content: space-between;
            top: 0px;
            left: 160px;
            right: 160px;

    >img {
        width: 64px;
        height: 64px;
    }

    >div {
        width: 600px;
        display: flex;
           justify-content: space-between;
            align-items: center;
            font-size: 24px;
            font-weight: normal;
        >a {
            &:hover {
                 text-decoration: underline;
            }
        }
    }
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
}

.phone_btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #9F0908;
    border-radius: 16px;
    border: 3px solid white;
    padding: 10px 10px;

    &:hover {
        background-color: #ac4d4d;
    }

    >img {
        height: 29px;
        margin-right: 10px;
    }
}