@import './../../../../styles.scss';

@mixin borderFunction($bStyle) {
    border-radius: 16px;
    border: 3px $bStyle white;
}

@mixin displayFlexItemsCenter($display, $items: center) {
    display: $display;
    align-items: $items;
}

nav {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    top: 0px;
    left: 160px;
    right: 160px;

    >img {
        width: 64px;
        height: 64px;
    }

    >div {
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: $c;
        font-size: 24px;
        font-weight: normal;

        >a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

a {
    @include displayFlexItemsCenter(flex, center);
    // display: flex;
    // align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: white;
}



.phone_btn {
    @include displayFlexItemsCenter(flex, center);
    // display: flex;
    // align-items: center;
    justify-content: space-evenly;
    background-color: $dark_red;
    @include borderFunction(solid);
    padding: 10px 10px;

    &:hover {
        background-color: #ac4d4d;
    }

    >img {
        height: 29px;
        margin-right: 10px;
    }
}