.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 120px;

    div {
        margin: 0px 160px;
        padding: 0px;

        >a {
            display: flex;
            text-decoration: none;
            color: white;
            font-size: 24px;

            &:hover {
                text-decoration: underline;
            }

            >img {
                height: 44px;
            }
        }
    }
}

.footerframe {
    display: flex;
    margin: 0px 160px;
    padding: 0px;
    align-items: center;
    
    >a {
        >img {
            height: 40px;
        }
    }
}


.spaceleft {
    margin-left: 16px;
}