    <section class="footer">
        <div class="footerframe">
            <a href="https://de.wikipedia.org/wiki/Japanische_Kirschbl%C3%BCte"><img class="footerlogo"
                    src="assets/img/footer/sakura_ramen_logo_and_text.png"
                    alt="This picture shows a cherry blossom and the SAKURA RAMEN logo"></a>
        </div>

        <div class="footerframe">
            <a href="https://www.tripadvisor.de/"><img class="footerlinks"
                    src="assets/img/footer/tripadvisor_logo.png"
                    alt="This picture shows the tripadvisor logo"></a>
            <a href="https://www.facebook.com/"><img class="footerlinks spaceleft"
                    src="assets/img/footer/facebook_logo.png" alt="This picture shows the facebook logo"></a>
            <a href="https://www.instagram.com/"><img class="footerlinks spaceleft"
                    src="assets/img/footer/instagrram_logo.png"
                    alt="This picture shows the instagram logo"></a>
        </div>
    </section>
