a {
    text-decoration: none;
    color: blue;
}

.txtContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #675E54;
    overflow-y: auto;
    padding: 10px 20px 20px 20px;
    text-align: center;

    >h1 {
        color: #9F0908;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    h2 {
        margin-bottom: 20px;
    }
}


.backButtonDiv {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.highlight {
    color: black;
}