a {
    text-decoration: none;
    color: whitesmoke;
    &:hover {
                text-decoration: underline;
            }
}

.txtContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./../../../public/assets/img/our_menu/section_our_menu_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    color: #675E54;
    overflow-y: auto;
    padding: 10px 20px 20px 20px;
    text-align: center;

    >h1 {
        font-size: 50px;
        text-decoration: underline;
        color: #9F0908;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }
}

.backButton {
    cursor: pointer;
    background-color: #9F0908;
    font-size: 16px;
    color: white;
    border-color: #675E54;
    padding: 10px;
    border-radius: 10px;
}

.backButtonDiv {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.highlight {
    color: black;
}