.menu {
    background-image: url('./../../../../public/assets/img/our_menu/section_our_menu_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.space {
    padding-top: 120px;
    padding-bottom: 64px;
}

.menuone {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    >img {
        width: 352px;
        height: 352px;
    }

    >div {
        display: grid;
        row-gap: 8px;
        grid-template-columns: auto auto;
        align-content: center;
        margin: 0px 80px;
    }
}

.menutwo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 56px 0px;

    >img {
        width: 352px;
        height: 352px;
    }

    >div {
        display: grid;
        row-gap: 8px;
        grid-template-columns: auto auto;
        align-content: center;
        margin: 0px 80px;
    }
}

.menuthree {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-bottom: 120px;

    >img {
        width: 352px;
        height: 352px;
    }

    >div {
        display: grid;
        row-gap: 8px;
        grid-template-columns: auto auto;
        align-content: center;
        margin: 0px 80px;
    }
}

.griditem {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: bold;
    color: #675E54;
}

.itemtwo {
    grid-column: 1 / span 1;
}

.gridheader {
    width: 350px;
    margin-bottom: 8px;
}