.orderheadline {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 64px;
}

.ordersequence {
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 120px;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        >img {
            width: 128px;
            margin-bottom: 16px;
        }
    }
}